.venv/
.env
*.egg-info/
fuzzy_signer/old/
__pycache__/
vlei-trainings/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
*.py[cod]
*$py.class
*.so

# Logs
*.log

# Temporary files
*.tmp
*.temp